<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de Asistencia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Registro de Asistencia</h1>
        <form th:action="@{/asistencia/registro}" th:object="${asistencia}" method="post">
            <div class="form-group">
                <label>Alumno ID:</label>
                <input type="number" th:field="*{alumno.id}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Clase ID:</label>
                <input type="number" th:field="*{clase.id}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Fecha:</label>
                <input type="date" th:field="*{fecha}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Presente:</label>
                <input type="checkbox" th:field="*{presente}" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Registrar Asistencia</button>
        </form>
    </div>
</body>
</html>