<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<img class="logo" src="https://t3.ftcdn.net/jpg/03/84/54/80/360_F_384548092_jDV5vVhJp3R45fsn1E1Y0o2C9CtTNyHx.jpg" alt="Logo"
        style="position: absolute; top: 10px; right: 10px; width: 50px; height: auto;">


        
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Lista de Estudiantes</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estudiante : ${estudiantes}">
                <td th:text="${estudiante.id}"></td>
                <td th:text="${estudiante.nombre}"></td>
                <td th:text="${estudiante.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
