<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Roles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Lista de Roles</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.name}"></td>
                    <td>
                        <a th:href="@{/role/editar/{id}(id=${role.id})}" class="btn btn-sm btn-primary">Editar</a>
                        <a th:href="@{/role/eliminar/{id}(id=${role.id})}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/role/crear}" class="btn btn-success">Crear Rol</a>
    </div>
</body>
</html>